<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

    <title>Layout page</title>
    <button>
        <a href="/">Home</a>
    </button>
    <button>
        <a href="/players">Players</a>
    </button>
      <button>
        <a href="/beers">Beers</a>
    </button>
    <button>
        <a href="/random">Random beers</a>
    </button>
</head>

<body>
    {{{body}}}
</body>

</html>